.door{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 50px;
    padding: 20px;
    color: #fff;
    font-size: 22px;
}
.door button{
    width:  80%;
    height: 30px;
    margin: 0 auto;
    border-radius: 10px;
}
.answers{
    width: 110%;
    min-height: 100px;
    background-color: #fff;
    border: 3px #282c34 solid;
    border-radius: 10px;
}