.wrapper{
    width: 500px;
   min-height: 200px;
    border: 5px #101010 solid;
   margin: 0 auto;
    color: #095909; /* inherit */
}
.tags{
    width: 90%;
    height: 30px;
    margin: 0 auto; /* do not inherit */
    background-color: #cbb62d;
    display: flex;
justify-content: space-between;
}
.title{
    width: 90%;
    height: 60px;
    border: 5px #671b1b solid;/* do not inherit */
    margin: 0 auto; /* do not inherit */
    text-align: center;
}
.title h2{
    font-size: 1.5em;
    margin-block-start: 0.5em;
}
.body{
    width: 90%;
    min-height: 100px;
    border: 5px #225ddc solid;/* do not inherit */
    background-color: #61dafb;
    margin: 0 auto;
    text-align: center;
}
.body .text{
  width: 90%;
    min-height: 100px;
    padding: 10px 5px 5px 15px;
}

