*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(88, 0, 40);
}
.wrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
